.new-task-container {
  height: 75px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.new-task-input {
  width: 600px;
  height: 25px;
  padding: 0px 5px;
  border-radius: 5px;
  border-color: #d0d3d6;
  outline: none;
}

.new-task-button {
  margin-left: 20px;
  height: 28px;
  width: 150px;
  color: #fff;
  background-color: #009dff;
  border-color: transparent;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: .3s;
  -webkit-transition-duration: .3s;
}

.new-task-button:hover {
  background: #0074e9;
  cursor: pointer;
}

.task-icons>.fa-solid {
  font-size: 20px;
  margin: 10px 35px 0px 35px;
  cursor: pointer;
  color: rgb(0, 157, 255, 0.7);
}

.task-icons>.fa-solid:hover {
  color: rgb(0, 157, 255)
}

.divider {
  /* height: 2px; */
  width: 100%;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 25px;
}

.task-arr {
  border-top: 2px solid #fff;
  border-bottom: 2px dotted #e5e5e5;
  padding: 2px 0;
  height: 30px;
}

.task-arr:first-child {
  border-top: 2px dotted #fff;
}

.task-arr:hover {
  background-color: rgb(0, 157, 255, 0.3);
  border-top: 1px solid #fff;
  border-bottom: 1px dotted #e5e5e5;
  transition-property: background-color;
  transition-duration: .3s;
  -webkit-transition-duration: .3s;
  cursor: pointer;
}

.task-arr:hover .fa-trash-can {
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 0, 0, 0.8);
}

.task-name {
  font-size: 15px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.fa-trash-can {
  display: none;
  position: relative;
  left: 20px;
  top: 2px;
}
