.form-body {
  margin-left: 20px;
  margin-top: 30px;
}

.form-body>div {
  margin: 10px 0px;
}

.task-update-label {
  margin-right: 10px;
  font-size: 14px;
}

.task-fields>div {
  margin: 10px 0px;
}

.task-update-input {
  width: 100px;
  height: 25px;
  padding-left: 5px;
  border-radius: 5px;
  border-color: #d0d3d6;
  outline: none;
}

.task-update-name {
  width: 400px;
  height: 25px;
  padding-left: 5px;
  border-radius: 5px;
  border-color: #d0d3d6;
  outline: none;
}

.task-update-dates {
  width: 150px;
  height: 25px;
  padding-left: 5px;
  border-radius: 5px;
  border-color: #d0d3d6;
  outline: none;
}

.task-update-prio {
  width: 15px;
  height: 25px;
  padding-left: 5px;
  border-radius: 5px;
  border-color: #d0d3d6;
  outline: none;
}

.task-update-estimate {
  width: 125px;
  height: 25px;
  padding-left: 5px;
  border-radius: 5px;
  border-color: #d0d3d6;
  outline: none;
}

.update-task-button {
  margin-top: 10px;
  width: 150px;
  height: 28px;
  font-size: 12px;
  color: #fff;
  background-color: #009dff;
  border-color: transparent;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: .3s;
  -webkit-transition-duration: .3s;
}

.update-task-button:hover {
  background: #0074e9;
  cursor: pointer;
}
